<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="../static/script.js"></script>
    <style>
           textarea
            {
              min-width: 360px;
            }
    </style>
</head>
<body>
<H1 align="center">USER ADMIN</H1>
{{#appDescriptions}}
<p align="center">{{description}}&#13;&#10;</p>
{{/appDescriptions}}
<div id="wrapper">
    <div>
        <table>
            <thead>
            <tr>
                <td>STEP DESCRIPTION</td>
                <td>STEP SYNTAX</td>
            </tr>
            </thead>
            <tbody>
            {{#methods}}
            <tr>
                <td>{{description}}</td>
                <td>{{regexp}}</td>
            </tr>
            {{/methods}}
            </tbody>
        </table>
    </div>
    <div>
        <form action="/apps/userAdmin" method="post">
            <table id="stepsTable">
                <thead>
                <tr>
                    <td>STEP</td>
                    <td>RESULT</td>
                    <td>EXCEPTION</td>
                    <td><a href="javascript:void(0);" class="add">+</a></td>
                </tr>
                </thead>
                <tbody>
                {{#steps}}
                <tr valign="top" id="row">
                    <td><textarea name="step[]">{{step}}</textarea></td>
                    <td>{{result}}</td>
                    <td>{{exception}}</td>
                    <td><a href="javascript:void(0);" class="remove">-</a></td>
                </tr>
                {{/steps}}
            </table>
            <input type="submit" value="SEND">
        </form>
    </div>
</div>
</body>
</html>